# Лабораторная работа №4

In [ ]:
import pandas as pd 
import numpy as np 

l,T,P,cosa = 20,5500,46,0.8

In [9]:
k = [10,11,12]
r = [0.384,0.409,0.43]
G = lambda k,r: k*l*(0.004+0.024) + ((P**2 *r*l)/110**2) *(0.124+T*10**-4)**2*8760 * 1.6*10**-5

In [16]:
my_pay_matrix = np.zeros((3,2))
my_pay_matrix

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [39]:
g = []
kp = []
for i in range(len(k)):
    g.append(G(k[i],r[i]))
    kp.append(k[i]*l)
             
data = pd.DataFrame({
    "g":g,
    "k":kp})
             
data

          g    k
0  5.685514  200
1  6.251081  220
2  6.815757  240

In [40]:
def result_1(data,w):
    data = data["g"]*w[0] + data["k"]*w[1]
    return f"Номер успшеного варианта {data.argmax()+1}"

In [41]:
result_1(data,w = [8.33,1])

'Номер успшеного варианта 3'

In [42]:
result_1(data,w = [10,1])

'Номер успшеного варианта 3'

In [43]:
result_1(data,w = [6.67,1])

'Номер успшеного варианта 3'